# ARP refresh policy
arpPolicy: "arp_notify"
# Enable or disable Proxy ARP on Pod nic
proxyARP: false
# Set to 'K3s' if using K3s cluster.
clusterType: Default

# Kubernetes config Cluster CIDR
clusterCIDR: "10.42.0.0/16"
# Kubernetes config Service CIDR
serviceCIDR: "10.43.0.0/16"

# Configuration for rancher-flat-network-operator
flatNetworkOperator:
  replicas: 2
  cattleResyncDefault: ""
  cattleDevMode: ""
  limits:
    memory: "512M"
    cpu: "100m"
  image:
    repository: "cnrancher/rancher-flat-network-operator"
    tag: v0.0.0
    pullPolicy: IfNotPresent

# Configuration for rancher-flat-network-deploy
deploy:
  # min hour day month week
  # Rollout tls secret every month: "0 0 1 * *"
  rolloutSchedule: "0 0 1 * *"
  image:
    repository: "cnrancher/rancher-flat-network-deploy"
    tag: v0.0.0
    pullPolicy: IfNotPresent

# Configuration for rancher-flat-network-cni
flatNetworkCNI:
  image:
    repository: "cnrancher/rancher-flat-network-cni"
    tag: v0.0.0
    pullPolicy: IfNotPresent

# Configuration for multus-cni
multus:
  cni:
    version: "1.0.0"
    kubeconfig: ""
  image:
    repository: "cnrancher/hardened-multus-cni"
    tag: "v4.1.0"
    pullPolicy: IfNotPresent

global:
  cattle:
    systemDefaultRegistry: ""
