name: CI
on:
  pull_request:
  push:
    tags-ignore: [ '**' ]
    branches:
      - main

jobs:
  ci:
    runs-on: org-cnrancher-runner-dind-x64
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.x
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0.2
      - name: Verify
        run: |
          ./scripts/verify.sh
      - name: Test
        run: |
          ./scripts/test.sh
      - name: Build
        env:
          TAG: ${{ github.ref_name }}
          COMMIT: ${{ github.sha }}
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: build --clean --snapshot
      - name: Image Build
        run: |
          ./scripts/image.sh
        env:
          TAG: dev
          REPO: ${{ vars.TCR_REGISTRY }}/${{ vars.PUBLIC_REGISTRY_REPO }}
